@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap');
/* DEFAULTS STYLES */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: 'Roboto', sans-serif;
  }

  h1, h2, h3{
    font-family: 'Baloo Da 2', cursive;
  }
/* END OF DEFAULTS STYLES */

/* HEADER STYLES*/

/* END OF HEADER STYLES */

/* SECTION 1 STYLES */

/* END OF SECTION 1 STYLES */

/* SECTION 2 STYLES */
.section__2{
  width: 100vw;
  background-color: #6B9893;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__2_texts{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  /* border: 1px solid red; */
  margin: 30px auto 0px;
}

.section__2_texts h1{
  color: white;
  font-weight: 900;
  font-size: 4em;
  letter-spacing: 1px;
  /* font-family: 'Baloo Da 2', cursive; */
}

.section__2_texts p{
  color: white;
  font-size: 1.56em;
  font-weight: 300;
  text-align: center;
  width: 126%;
  /* border: 1px solid black; */
  letter-spacing: .5px;
  word-break: break-all;
}
.section__2_cards{
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid blue; */
}

.section__2_card{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid brown; */
}

.section__2_card img{
  width: 410px;
}

.section__2_card-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.section__2_card-text h3{
  color: white;
  font-size: 2.3em;
  /* border: 1px solid red; */
  margin-top: -7px;
}

.section__2_card-text p{
  color: white;
  font-size: 1.4em;
  font-weight: 400;
  text-align: center;
  width: 370px;
  word-break: break-all;
}
/* END OF SECTION 2 STYLES */

/* SECTION 3 STYLES */

/* END OF SECTION 3 STYLES */

/* SECTION 4 STYLES */

/* END OF SECTION 4 STYLES */

/* SECTION 5 STYLES */

/* END OF SECTION 5 STYLES */

/* SECTION 6 STYLES */

/* END OF SECTION 6 STYLES */

/* FOOTER STYLES */

/* END FOOTER STYLES */